<template>
  <q-page class="q-gutter-y-lg q-py-lg">
    <div class="row flex justify-center">
      <div class="col-8 row flex justify-between">
        <div class="col-9 text-h3 text-grey-8">Все категории</div>
        <q-select class="col-3" outlined v-model="model" :options="options" label="Сортировать" />
      </div>
    </div>
    <div class="row flex justify-center" v-for="(category,index) in allCategories" :key="index">
      <article-preview class="col-8" :data="category" style="min-height: 100%;"/>
    </div>
    <div class="q-pa-lg flex flex-center">
      <q-pagination
        text-color="white"
        v-model="current"
        :max="15"
        :max-pages="6"
        :direction-links="true"
      >
      </q-pagination>
    </div>
  </q-page>
</template>

<script>
import ArticlePreview from '../components/articlePreview'
import { mapState } from 'vuex'
export default {
  name: 'all',
  components: {
    ArticlePreview
  },
  computed: {
    ...mapState(['allCategories'])
  },
  data () {
    return {
      current: 1,
      model: null,
      options: ['www', 'ddd2', 'ml']
    }
  }
}
</script>

<style scoped>

</style>
