<template>
    <q-page class="row flex justify-center q-py-xl">
      <q-card flat bordered class="my-card col-4 q-my-xl">
        <q-card-section class="header-logo flex justify-center q-pt-xl q-pb-lg">
          <img src="../statics/img/logo.png" alt="" width="100%" height="auto">
        </q-card-section>

        <q-card-section class="flex justify-center q-pb-lg">
          <div class="text-h5">Вход</div>
        </q-card-section>

        <q-card-section class="q-px-xl q-pb-sm">
          <q-form
            @submit="onSubmit"
            @reset="onReset"
            class="q-gutter-y-md q-mx-sm"
          >
            <q-input
              v-model="email"
              outlined
              label="E-mail"
              lazy-rules
            />
            <q-input
              v-model="password"
              outlined
              type="password"
              label="Пароль"
              lazy-rules
            />
            <div class="flex justify-center">
              <q-btn label="Войти" type="submit" color="primary" class="full-width"/>
            </div>
          </q-form>
        </q-card-section>

        <q-card-section class="flex justify-center q-pb-xl">
          <router-link to="/singin" class="text-amber text-weight-bold" style="text-decoration: none">Регистрация</router-link>
        </q-card-section>
        <router-view />
      </q-card>
    </q-page>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      email: null,
      password: null
    }
  }
}
</script>

<style lang="scss" scoped>
  .header {
    &-logo {
      img {
        max-width: 220px;
      }
    }
  }
</style>
