<template>
  <q-page>
    <q-card class="my-card row" flat>
      <img src="../statics/img/thumbnail.svg" class="col-6 shadow-3 no-border-radius">
      <q-card-section class="col-6 q-py-sm q-pl-lg flex column">
        <div class="text-h5 text-weight-bold text-grey-8 col-grow">{{data.name}}</div>
        <div class="text-body1 text-grey">{{data.author}}</div>
        <div class="text-body1 text-grey">{{data.date}}</div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'articlePreview',
  props: { data: String }
}
</script>

<style scoped>

</style>
