<template>
  <q-page>
    <q-card class="my-card q-mb-xl" flat>
      <q-card-section class="q-pa-none">
        <div class="text-body2 flex">
          <p class="q-mb-none text-blue q-mr-lg"> {{data.name}} </p>
          <p class="text-weight-regular q-mb-none text-grey"> {{data.date}} </p>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-mt-md">
        <div class="text-body1 q-mb-none text-grey-7">
          {{data.text}}
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'comment',
  props: { data: String },
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
