<template>
  <q-page>
    <q-card class="my-card" flat>
      <q-card-section class="q-px-none">
        <div class="text-h3 text-grey-8">{{paragraph[0].headline}}</div>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <div class="text-h6 text-grey flex justify-between">
          <p class="q-mb-none">Категория: <span class="text-blue">{{paragraph[0].category}}</span></p>
          <p class="text-weight-regular q-mb-none">{{paragraph[0].author}}</p>
        </div>
      </q-card-section>
      <img src="../statics/img/thumbnail.svg" class="shadow-3 q-my-xl">
      <q-card-section class="q-pa-none">
        <div class="text-h6 text-grey-8 text-weight-regular">
          {{paragraph[0].text1}}
          <br><br>
          {{paragraph[0].text2}}
        </div>
      </q-card-section>
      <img src="../statics/img/thumbnail.svg" class="shadow-3 q-my-xl">
      <q-card-section class="q-pa-none">
        <div class="text-h6 text-grey-8 text-weight-regular">
          {{paragraph[0].text3}}
          <br><br>
          {{paragraph[0].text4}}
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-mt-md">
        <div class="text-body1 text-grey q-mb-none text-right">{{paragraph[0].date}}</div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'paragraph',
  data () {
    return {
    }
  },
  computed: {
    ...mapState(['paragraph'])
  }
}
</script>

<style scoped>

</style>
