<template>
  <q-layout view="hHh LpR fFf">

    <q-header elevated reveal class="bg-white text-grey-8 q-py-sm q-px-md header">
      <q-toolbar class="q-pa-none row">
        <q-toolbar-title class="flex items-center col-3 header-logo">
          <img src="../statics/img/logo.png" alt="" width="100%" height="auto">
        </q-toolbar-title>
        <q-btn-group
          class="col-6"
          no-wrap
          flat
          stretch
          spread
          toggle-color="blue">
          <q-btn label="Главная" to="/" />
          <q-btn label="Статья" to="/about" />
          <q-btn label="Все категории" to="/all"/>
        </q-btn-group>
        <div class="col-3 flex justify-end">
          <q-btn color="primary" label="Вход" to="/login"/>
          <q-btn color="amber" label="Регистрация" class="q-ml-md" to="/singin"/>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-1 text-white q-py-sm q-px-md">
      <q-toolbar class="q-pa-none">
        <q-toolbar-title class="flex items-center justify-center header-logo">
          <img src="../statics/img/logo.png" alt="" width="100%" height="auto">
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      model: 'one'
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  &-logo {
   img {
     max-width: 220px;
   }
  }
}
</style>
